
html{
    margin:0;
    padding:0;
    height: 100%;
}

body{
    margin:0;
    padding:0;
    height: 100%;
}

.parallax{
    background-image: url("imgs/bgpara.jpg");
    height: 96%;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.bg-grey{
    background-image: url("imgs/secbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bighead{
    text-align: center; 
    display: inline-block; 
    vertical-align: middle;
    text-shadow: 2px 2px 5px white;
}

.center {
    position: absolute; 
    top: 0; left: 0; right: 0; left: 0; 
    text-align: center; 
    height: 100%;
    width: 100%; 
    vertical-align: middle;}

.space-top{
padding-top: 22%;
}

.bottom-bar{
    background-color: darkgrey;
}
.bottom-bar-text{
    padding: 12px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.secondhead{
    text-shadow: 2px 2px 5px white;
}

.icon-scroll{
    position: relative;
    left: 44%;
    width: 150px;
    margin-top: -160px;
}

